<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ethan.morephone"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- needed for monitoring network availability -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- needed to enable/disable the speakerphone -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- needed to receive audio from microphone during a call -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!--<permission-->
        <!--android:name="com.morephone.tpms.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->

    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!--<uses-permission android:name="com.morephone.tpms.permission.C2D_MESSAGE" />-->

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".presentation.authentication.AuthenticationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/auth0_domain"
                    android:pathPrefix="/android/com.morephone.tpms/callback"
                    android:scheme="https" />
            </intent-filter>

        </activity>


        <activity
            android:name=".presentation.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.message.conversation.ConversationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.message.list.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.message.compose.ComposeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.buy.payment.purchase.PurchaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.record.RecordActivity"
            android:screenOrientation="portrait" />
        <!--<activity android:name=".presentation.record.TestVoiceActivity" />-->

        <activity
            android:name=".presentation.authentication.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.authentication.register.name.RegisterNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.authentication.register.email.RegisterEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.authentication.register.password.RegisterPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.authentication.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.authentication.login.forgot.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.numbers.IncomingPhoneNumbersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.buy.SearchPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.buy.result.AvailablePhoneNumberActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".presentation.buy.payment.card.CardActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".presentation.buy.payment.PaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.buy.payment.fund.AddFundActivity"
            android:screenOrientation="portrait" />

        <!--<activity android:name=".presentation.phone.CallActivity" />-->
        <activity
            android:name=".presentation.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.license.LicenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.usage.UsageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.phone.PhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.message.reply.MessageReplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".presentation.phone.incall.InCallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".presentation.phone.callingscreen.CallingScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.credit.CreditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.buy.pool.PoolPhoneNumberActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.phone.dial.DialActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.twilio.client.TwilioClientService"
            android:exported="false"
            android:stopWithTask="true" />

        <!--<receiver-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:exported="true"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--<category android:name="com.twilio.voice.quickstart" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<service-->
            <!--android:name=".gcm.VoiceGCMListenerService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service-->
            <!--android:name=".gcm.VoiceInstanceIDListenerService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.iid.InstanceID" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service-->
            <!--android:name=".gcm.GCMRegistrationService"-->
            <!--android:exported="false" />-->

        <!--&lt;!&ndash; [START fcm_listener] &ndash;&gt;-->

        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
            <!--android:resource="@mipmap/ic_launcher" />-->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_color"-->
            <!--android:resource="@color/blue_color" />-->

        <!--<service-->
            <!--android:name=".fcm.BindingIntentService"-->
            <!--android:exported="false" />-->

        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.morephone.tpms" />
            </intent-filter>
        </receiver>

        <service android:name=".fcm.NotifyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END fcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service android:name=".fcm.NotifyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

        <service android:name=".presentation.phone.service.PhoneService">

        </service>

        <receiver android:name=".presentation.phone.service.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".presentation.phone.service.PhoneIntervalReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.ethan.morephone.action.WAKE_UP" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>