<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ethan.morephone"
    android:versionCode="2"
    android:versionName="1.0.1">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- needed to enable/disable the speakerphone -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- needed to receive audio from microphone during a call -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.twilio.voice.quickstart.permission.C2D_MESSAGE" />

    <permission
        android:name="com.twilio.voice.quickstart.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".presentation.authentication.AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.main.MainActivity" />
        <activity android:name=".presentation.message.conversation.ConversationsActivity" />
        <activity android:name=".presentation.message.list.MessageListActivity" />
        <activity android:name=".presentation.message.compose.ComposeActivity" />
        <activity android:name=".presentation.buy.payment.purchase.PurchaseActivity" />

        <activity android:name=".presentation.voice.VoiceActivity" />
        <activity android:name=".presentation.voice.TestVoiceActivity" />

        <activity android:name=".presentation.authentication.register.RegisterActivity" />
        <activity android:name=".presentation.authentication.register.name.RegisterNameActivity" />
        <activity android:name=".presentation.authentication.register.email.RegisterEmailActivity" />
        <activity android:name=".presentation.authentication.register.password.RegisterPasswordActivity" />

        <activity android:name=".presentation.authentication.login.LoginActivity" />
        <activity android:name=".presentation.authentication.login.forgot.ForgotPasswordActivity" />

        <activity android:name=".presentation.dashboard.DashboardActivity" />

        <activity android:name=".presentation.numbers.IncomingPhoneNumbersActivity" />
        <activity android:name=".presentation.buy.SearchPhoneNumberActivity" />
        <activity android:name=".presentation.buy.result.AvailablePhoneNumberActivity" />
        <activity android:name=".presentation.buy.payment.card.CardActivity" />
        <activity android:name=".presentation.buy.payment.PaymentActivity" />

        <activity android:name=".presentation.buy.payment.fund.AddFundActivity" />

        <!--<activity android:name=".presentation.phone.CallActivity" />-->
        <activity android:name=".presentation.setting.SettingActivity" />
        <activity android:name=".presentation.license.LicenseActivity" />
        <activity android:name=".presentation.usage.UsageActivity" />
        <activity android:name=".presentation.phone.PhoneActivity" />
        <activity android:name=".presentation.phone.incall.InCallActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".presentation.phone.callingscreen.CallingScreenActivity" />

        <activity
            android:name=".presentation.phone.dial.DialActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.twilio.client.TwilioClientService"
            android:exported="false"
            android:stopWithTask="true" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.twilio.voice.quickstart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.VoiceGCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.VoiceInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.GCMRegistrationService"
            android:exported="false"/>

        <service android:name=".presentation.phone.service.PhoneService">
            <intent-filter>
                <action android:name="com.seesaa.newsaudiocast.action.ACTION_PLAY" />
                <action android:name="com.seesaa.newsaudiocast.action.ACTION_PAUSE" />
            </intent-filter>
        </service>

        <receiver android:name=".presentation.phone.service.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".presentation.phone.service.PhoneIntervalReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.ethan.morephone.action.WAKE_UP"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


    </application>

</manifest>